@model QuanLySanXuat.Models.Phancong

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chi tiết</h1>

<div>
    <h4>Phancong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaPhanXuongNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaPhanXuongNavigation.MaPhanXuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaThuocNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaThuocNavigation.MaThuoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoPhieuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoPhieuNavigation.SoPhieu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SoPhanCong">Edit</a> |
    <a asp-action="Index">Trở về danh sách</a>
</div>
