@model QuanLySanXuat.Models.Chitietphieudathang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chi tiết</h1>

<div>
    <h4>Chitietphieudathang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongDat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongDat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaThuocNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaThuocNavigation.MaThuoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoPhieuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoPhieuNavigation.SoPhieu)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Trở về danh sách</a>
</div>
