@model IEnumerable<QuanLySanXuat.Models.Phanxuong>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Phân Xưởng</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-group">
        <label for="searchString">Tìm kiếm:</label>
        <input type="text" class="form-control" id="searchString" name="searchString" value="@ViewBag.CurrentFilter">
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenPhanXuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoTenQuanDoc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenPhanXuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTenQuanDoc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaPhanXuong">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaPhanXuong">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.MaPhanXuong">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
