@model IEnumerable<QuanLySanXuat.Models.Thuoc>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thuốc</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-group">
        <label for="searchString">Search:</label>
        <input type="text" class="form-control" id="searchString" name="searchString" value="@ViewData["CurrentFilter"]" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenThuoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuyCach)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenThuoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuyCach)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaThuoc">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaThuoc">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.MaThuoc">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
